{% extends "base.html" %}
{% block title %}Upload Files{% endblock %}
{% block content %}

<form id=dupload enctype="multipart/form-data" method="post" action="">{% csrf_token %}
    {{ form.as_ul }}
    <li>Some example-files already uploaded to the server. This will only replace
    the upload-process, especially useful for bigger files and testing. 
        <ol>
            <li><input id=test-file1 name=test-file1 type=radio value=testfiles/test-file1.mov> : 
            test-file1.mov (2.9M, T ~5 sec)</li>
            <li><input id=test-file2 name=test-file1 type=radio value=testfiles/test-file1.avi> : 
            test-file1.avi (3.2M, T ~5 sec)</li>
            <li><input id=test-file3 name=test-file1 type=radio value=testfiles/planet_earth.mkv> : 
             planet_earth.mkv (100M, T ~60 sec)</li>
            <li><input id=test-file3 name=test-file1 type=radio value=testfiles/buggy.wmv> : 
            buggy.wmv (7.9M, T ~60 sec)</li>
            <li><input id=test-file4 name=test-file1 type=radio value=testfiles/herbst_720.wmv> : 
            herbst_720.wmv (60M, T ~5 min)</li>
        </ol>
    </li>    
    <li><input type=submit value=upload></li>
</form>
<dl id=results>
    <dt>Task ID unique for task:</dt>
    <dd id=task_id></dd>
    <dt>Status for task:</dt>
    <dd id=status_val></dd>
    <dt>Result id for task:</dt>
    <dd id=result></dd>
</dl>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.js" ></script>
<script type="text/javascript" src="{{ MEDIA_URL }}video/flowplayer-3.1.4.min.js"></script>

<p>{{ latest.file.url }}</p>

<a href="{{ latest.file.url }}" style="display:block;width:520px;height:330px" id="player"></a>
<script type="text/javascript">
$(document).ready(function() {
    var tasks = new Array();
    $('#dupload').submit(function() {
        $.post("{% url video_upload %}",
            $('#dupload').serialize(),
            function(data) {
                handleTask(data);
            });
        return false;
    });
    
    function handleTask(data) {
        var task = {
            'task_id': data.task_id,
            'status': data.status,
        }
        tasks.push(task);
        
        for(var i = 0; i < tasks.length; i++) {
            tasks[i].interval_id = setInterval(getStatus(tasks[i]), 1000);
        }
    }
            
    function getStatus(task) {
        //var task = get_task(task_id);
        return function() {
            $.getJSON('{% url suspend %}' + task.task_id, function(data) {
                task.status = data.status;
                if (data.status == 'SUCCESS') {
                    task.result = data.result;
                    clearInterval(task.interval_id);
                    tasks.splice(get_index(task.task_id), 1);
                }
                else if (data.status == 'FALIURE') {
                    task.result = data.traceback;
                }
            });
        }
    }
    function get_index(task_id) {
        for (var i = 0; i < tasks.length; i++) {
            if (tasks[i].task_id === task_id)
                return i;
        }
    }
    function get_task(task_id) {
        for(var i = 0; i < tasks.length; i++) {
            if (tasks[i].task_id === task_id)
                return tasks[i];
        }
    }
});
//flowplayer("player", "{{ MEDIA_URL }}video/flowplayer-3.1.5.swf");
</script>

{% endblock %}