{% extends "base.html" %}
{% block title %}Upload Files{% endblock %}
{% block content %}

<form enctype="multipart/form-data" method="post" action="{% url video_upload %}">{% csrf_token %}
    {{ form.as_ul }}
    <input type=submit value=upload>
</form>

<p>{{ task_id }}</p>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.js" ></script>
<script type="text/javascript" src="{{ MEDIA_URL }}video/flowplayer-3.1.4.min.js"></script>

<p>{{ video.file_converted.url }}</p>

<a href="{{ video.file_converted.url }}" style="display:block;width:520px;height:330px" id="player"></a>
<script>flowplayer("player", "{{ MEDIA_URL }}video/flowplayer-3.1.5.swf");</script>

{% endblock %}