{% extends "base.html" %}
{% block title %}{% endblock %}
{% block header1 %}Suspend task{% endblock %}
{% block content %}

<dl>
<dt>Task ID</dt>
<dd id="task_id"></dd>
<dt>Status</dt>
<dd id="status_val">None</dd>
</dl>
<h3>result</h3>
<p id="result"></p>


<ul>
    {% for k, v in res.items %}
        <li><strong>{{ k }}</strong>: {{ v }}</li>
    {% endfor %}
</ul>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
<script type="text/javascript">
    var intervalID = -1;
    $(document).ready(
        function() { $.getJSON(
            '{% url suspend_task %}',
            function(data) {
                $('#task_id').text(data.task_id);
                $('#status_val').text(data.status);
                intervalID = setInterval(getStatus(data.task_id), 1000);
            });
        
    });
    function getStatus(task_id) {
        return function() {
            $('#result').append('.');        
            $.getJSON('{% url suspend %}' + task_id, function(data) {
                $('#status_val').text(data.status);
                if (data.status == 'SUCCESS') {
                    $('#result').text(data.result);
                    clearInterval(intervalID);
                }
                if (data.status == 'FALIURE') {
                    $('#result').text(data.traceback)
                }
            });
        }
    }  
</script>

{% endblock %}
