<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>{% block title %}{% endblock %} is303 project</title>               
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    {% block extrahead %}{% endblock %}
</head>
<body id="first">
    <div id="wrapper">
            <h1>{% block header1 %}{% endblock %}</h1>
            <h2>{% block subheader %}{% endblock %}</h2>
            {% block content %}
            {% endblock %}
    </div>
</body>
</html>